.home-page {
  background: url(../imagenes/Fodos_uitlizados/background.jpg);
  background-attachment: fixed;
  background-size: cover;
}
.home-page::after {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(51, 51, 51, 0.9);
}

.slogan {
  font-size: 3rem;
  margin-bottom: 2rem;
  padding: 0.2rem 0.1rem;
  background: #303030;
}

.title {
  font-size: 6rem;
  margin-bottom: 2rem;
}
.title--featured {
  color: #eece1a;
}

.footer {
  text-align: center;
  padding: 1rem;
  background: #1a1a1a;
  color: #fff;
  height: 60px;
  font-size: x-large;
}
.footer__link {
  color: #eece1a;
}

.burger-menu-icon {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.burger-menu-icon__line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: #fff;
  transition: all 0.5s ease-in-out;
}
.burger-menu-icon__line--close {
  transform: rotate(180deg);
}
.burger-menu-icon__line--close:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.burger-menu-icon__line--close:nth-child(2) {
  opacity: 0;
}
.burger-menu-icon__line--close:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

.menu {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 1;
}
.navigation--show {
  visibility: visible;
}
.navigation__branding {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
  background: #333;
  transform: translate3d(0, 100%, 0);
  transition: all 0.5s ease-in-out;
}
.navigation__branding--show {
  transform: translate3d(0, 0, 0);
}

.pages-selector {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: #262626;
  list-style: none;
  transform: translate3d(0, -100%, 0);
  transition: all 0.5s ease-in-out;
}
.pages-selector--show {
  transform: translate3d(0, 0, 0);
}
.pages-selector__link {
  display: inline-block;
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}
.pages-selector__link:hover {
  color: #eece1a;
}
.pages-selector__link--current {
  color: #eece1a;
}
.pages-selector__link--current:hover {
  color: #fff;
}
.pages-selector__page {
  transform: translate3d(600px, 0, 0);
  transition: all 0.5s ease-in-out;
}
.pages-selector__page--show {
  transform: translate3d(0, 0, 0);
}

.portrait {
  background: url(../imagenes/retrato.jpg);
  background-size: cover;
  width: 325px;
  height: 325px;
  border-radius: 50%;
  border: solid 3px #eece1a;
}

.pages-selector__page:nth-child(1) {
  transition-delay: 0.1s;
}

.pages-selector__page:nth-child(2) {
  transition-delay: 0.2s;
}

.pages-selector__page:nth-child(3) {
  transition-delay: 0.3s;
}

.pages-selector__page:nth-child(4) {
  transition-delay: 0.4s;
}

.projects {
  padding: 4rem;
  min-height: calc(100vh - 60px);
}
.projects__portfolio {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  align-items: start;
  justify-content: space-between;
}

.project-info__icon {
  margin-right: 0.5rem;
}
.project-info__link--dark {
  background: black;
  color: #fff;
}
.project-info__link--light {
  background: #b3b3b3;
  color: #333;
}
.project-info__preview {
  width: 100%;
  border: 3px #fff solid;
}
.project-info__preview:hover {
  opacity: 0.5;
  border-color: #eece1a;
  transition: all 0.5s ease-in-out;
}

.info {
  padding: 4rem;
  min-height: calc(100vh - 60px);
}
.info__personal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
}

.contact-details {
  font-size: 2rem;
  border: 3px #fff solid;
  padding: 1.5rem 2.5rem;
  transition: all 0.5s ease-in-out;
  flex-grow: 1;
  margin: 1rem;
}
.contact-details:hover {
  padding: 0.5rem 1.5rem;
  background: #eece1a;
  color: #000;
}
.contact-details:hover__direction {
  color: #000;
}
.contact-details:hover__link {
  color: #000;
}

.about {
  padding: 4rem;
  min-height: calc(100vh - 60px);
}
.biography {
  display: flex;
  gap: 10px;
  margin: 2rem 0;
  justify-content: center;
  flex-wrap: wrap;
}
.biography__card {
  font-size: 1.5rem;
  flex-basis: 60vw;
  flex-grow: 1;
}
.biography__image {
  height: 250px;
  width: 250px;
  margin: auto 2rem;
  border-radius: 50%;
  border: #eece1a 3px solid;
}
.biography__title {
  color: #eece1a;
}

.job-experience {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  align-items: start;
  justify-content: space-between;
}
.job-experience-card {
  background: #404040;
  padding: 0.5rem;
}
.job-experience-card--featured {
  border-bottom: #eece1a 5px solid;
}
.front-page {
  padding: 4rem;
  min-height: calc(100vh - 60px);
  padding-top: 25vh;
}
.front-page__icons {
  margin-top: 1rem;
  font-size: 2.5rem;
}
.front-page__link {
  padding: 0.4rem;
}
.front-page__link:hover {
  color: #eece1a;
  transition: all 0.5s ease-in-out;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #333;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  margin: 0;
  height: 100%;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.btn, .project-info__link--dark, .project-info__link--light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
}
.btn:hover, .project-info__link--dark:hover, .project-info__link--light:hover {
  background: #eece1a;
  color: #000;
}

@media screen and (min-width: 1171px) {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 769px) and (max-width: 1025px) {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center;
  }
  ul.menu-nav, div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
  }
  ul.menu-nav.show, div.menu-branding.show {
    transform: translate3d(0, 0, 0);
  }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }
  .menu-branding {
    height: 25vh;
    transform: translate3d(-100%, 0, 0);
  }
  .menu-branding .retrato {
    background: url("../imagenes/retrato.jpg");
    background-size: cover;
    background-position: center;
    width: 150px;
    height: 150px;
  }
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 320px) {
  main#home h1 {
    margin-top: 10vh;
  }
  .projects {
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=main.css.map */