@import 'config';


.front-page {
    @include center-main-content;
    padding-top: 25vh;
    
    &__icons {
        margin-top: 1rem;
        font-size: 2.5rem;
    }

    &__link {
        
        padding: 0.4rem;
        
        &:hover {
            color: $secondary-color;
            @include ease-out;
        }
    }
    
    
}