@import 'config';
// menu Buttons
.menu-btn{
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    @include ease-out;
.btn-line{
    width: 28px;
    height: 3px;
    margin:  0 0 5px 0;
    background: #fff;
    @include ease-out;
}

// Rotar la X del menu de lineas
&.close{
    transform: rotate(180deg);

    .btn-line{
        // Linea 1 - Rota
        &:nth-child(1){
            transform: rotate(45deg) translate(5px, 5px);
        }

        // Linea 2 - Desaparece
        &:nth-child(2){
            opacity: 0;
        }

        // Linea 3 - Rota

        &:nth-child(3){
            transform: rotate(-45deg) translate(6px, -6px);
            }
        }
    }
}
// Menu Overlay

.menu{
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.9;
    visibility: hidden;
    
    &.show{
       visibility: visible; 
        }
    
    &-branding,
    &-nav{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        float: left;
        width: 50%;
        height: 100vh;
        overflow: hidden;
    }

    &-nav{
        margin: 0;
        padding: 0;
        background: darken($primary-color, 5);
        list-style: none;
        transform: translate3d(0, -100%, 0);
        @include ease-out;
        
        &.show{
                // slide in from top
                transform: translate3d(0,0,0);
            }
        }
    // Branding side
    &-branding{
        background: $primary-color;
        transform: translate3d(0, 100%, 0);
        @include ease-out;

        &.show{
            // slide in from bottom
            transform: translate3d(0,0,0);
        }
    
    .retrato{
        width: 250px;
        height: 250px;
        border-radius: 50%;
        border: solid 3px $secondary-color;
        }
    }
    .nav-item{
        transform: translate3d(600px,0,0);
        @include ease-out;

        &.show{
            // slide in from right
            transform: translate3d(0,0,0);
        }

        &.current > a {
            color: $secondary-color;
        }
    } 

    .nav-link{
        display: inline-block;
        position: relative;
        font-size: 30px;
        text-transform: uppercase;
        padding: 1rem 0;
        font-weight: 400;
        color: #fff;
        text-decoration: none;
        @include ease-out;

        &:hover{
            color: $secondary-color;
        }
    }
}

// Delay each nav itemslide by 0.1s
@for $x from 1 through 4 {
    .nav-item:nth-child(#{$x}){
        transition-delay: $x * 0.1s;
    }
}