@import "config";

.home-page {
    @include background;
}

.slogan {
    font-size: 3rem;
    margin-bottom: 2rem;
    padding: 0.2rem 0.1rem;
    background: rgba(darken($primary-color, 1), 1); // TODO; acomodar
}

.title {
    font-size: 6rem;
    margin-bottom: 2rem;

    &--featured {
        color: $secondary-color;
    }
}