@import "config";

.home-page {
    @include background;
}

.slogan {
    font-size: clamp(1.5rem, 5vw, 3rem); 
    margin-bottom: 1rem;
    padding: 0.2rem 0.1rem;
    background: rgba(darken($primary-color, 1), 1); // TODO; acomodar
}

.title {
    padding-top: 2rem;
    font-size: clamp(3rem, 10vw, 6rem); 
    margin-bottom: 1rem;

    &--featured {
        color: $secondary-color;
    }
}

.footer {
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 10);
    color: set-text-color($primary-color);
    font-size: x-large;

    &__link {
        color: $secondary-color;
    }
}

.burger-menu-icon {
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    @include ease-out;

    &__line {
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background: set-text-color($primary-color);
        @include ease-out;

        &--close {
            transform: rotate(180deg);


            // Linea 1 - Rota
            &:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);
            }

            // Linea 2 - Desaparece
            &:nth-child(2) {
                opacity: 0;
            }

            // Linea 3 - Rota

            &:nth-child(3) {
                transform: rotate(-45deg) translate(6px, -6px);
            }
        }
    }
}


.menu {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.navigation {
    display: flex;
    flex-direction: column;


    position: fixed;
    top: 0;
    width: 100%;
    opacity: 1;
    visibility: hidden;

    &--show {
        visibility: visible;
    }

    &__branding {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        float: left;
        width: 100vw;
        height: 35vh;
        overflow: hidden;
        background: $primary-color;
        transform: translate3d(0, -200%, 0);
        @include ease-out;

        &--show {
            // slide in from bottom
            transform: translate3d(0, 0, 0);
        }
    }
}

.pages-selector {

    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 100vw;
    height: 70vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: darken($primary-color, 5);
    list-style: none;
    transform: translate3d(0, 100%, 0);
    @include ease-out;

    &--show {
        // slide in from top
        transform: translate3d(0, 0, 0);
    }

    &__link {
        display: inline-block;
        position: relative;
        font-size: 30px;
        text-transform: uppercase;
        padding: 1rem 0;
        font-weight: 400;
        color: set-text-color($primary-color);
        text-decoration: none;
        @include ease-out;

        &:hover {
            color: $secondary-color;
        }

        &--current {
            color: $secondary-color;

            &:hover {
                color: #fff;
            }
        }
    }

    &__page {
        transform: translate3d(-600px, 0, 0);
        @include ease-out;

        &--show {
            // slide in from right
            transform: translate3d(0, 0, 0);
        }
    }
}

.portrait {
    background: url(../imagenes/retrato.jpg);
    background-size: cover;
    width: 325px;
    height: 325px;
    border-radius: 50%;
    border: solid 3px $secondary-color;
}

@for $x from 1 through 4 {
    .pages-selector__page:nth-child(#{$x}) {
        transition-delay: $x * 0.1s;
    }
}