@import 'config';

.projects {
    @include center-main-content;

    &__portfolio {
        margin-top: 2rem;
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        align-items: start;
        justify-content: space-between;

    }
}

.project-info {
    width: clamp(250px,100%,600px);

    &__icon {
        margin-right: 0.5rem;
    }

    &__link {
        margin: 1rem 0;
        
        &--dark {
            @extend .btn;
            background: darken($primary-color, 50);
            color: #fff;
        }

        &--light {
            @extend .btn;
            background: lighten($primary-color, 50);
            color: #333
        }
    }

    &__preview {

        width: 100%;
        border: 3px #fff solid;

        &:hover {
            opacity: 0.5;
            border-color: $secondary-color;
            @include ease-out;
        }
    }
}
