@import 'job-experience-card';
@import 'biography';
@import 'about';
@import 'menu';
@import 'config';

* {
    box-sizing: border-box;
}

body {
    @include background;
    background-color: $primary-color;
    color: set-text-color($primary-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    margin: 0;
    height: 100%;
}

// Titulares
h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;

    // Titular Principal
    &.lg-heading {
        font-size: 6rem;
        margin-bottom: 2rem;

    }

    // Titular Secundario
    &.sm-heading {
        font-size: 3rem;
        margin-bottom: 2rem;
        padding: 0.2rem 0.1rem;
        background: rgba(darken($primary-color, 1), 1);
    }
}

// Links
a {
    color: #fff;
    text-decoration: none;

}

//  Encabezado
header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color: $secondary-color;
}

main {
    padding: 4rem;
    min-height: calc(100vh - 60px);


    .icons {
        margin-top: 1rem;
        font-size: 2.5rem;


        a {
            padding: 0.4rem;

            &:hover {
                color: $secondary-color;
                @include ease-out;
            }

        }
    }

    &#home {
        overflow: hidden;

        h1 {
            margin-top: 20vh;
        }
    }
}

#main-footer {
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 10);
    color: set-text-color($primary-color);
    height: 60px;
    font-size: x-large;
}

// Work/Project
.projects {
    display: grid;
    row-gap: 0.7rem;
    column-gap: 0.7rem;
    grid-template-columns: repeat(3, 1fr);

    img {
        width: 100%;
        border: 3px #fff solid;

        &:hover {
            opacity: 0.5;
            border-color: $secondary-color;
            @inculude easeOut;
        }
    }
}

// Contact Page

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;

    div {
        font-size: 2rem;
        border: 3px #fff solid;
        padding: 1.5rem 2.5rem;
        margin-bottom: 3rem;
        @include ease-out;

        &:hover {

            a {
                color: set-text-color($secondary-color);
            }

            padding: 0.5rem 1.5rem;
            background: $secondary-color;
            color: set-text-color($secondary-color);

            span {
                color: set-text-color($secondary-color);
            }
        }
    }
}

// Button Styles

.btn {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;

    &:hover {
        background: $secondary-color;
        color: set-text-color($secondary-color);
    }
}

.btn-dark {
    @extend .btn;
    background: darken($primary-color, 50);
    color: #fff;
}

.btn-light {
    @extend .btn;
    background: lighten($primary-color, 50);
    color: #333;
}

#main-footer {
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 10);
    color: set-text-color($primary-color)
}


@import 'mobile';