@import 'reset';
@import 'shared';// @import 'reset';
@import 'work';
@import 'contact';
@import 'about';
@import 'config';
@import 'index';

body {
    background-color: $primary-color;
    color: set-text-color($primary-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    margin: 0;
    height: 100%;
}

// Titulares
h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;

}

// Links
a {
    color: #fff;
    text-decoration: none;

}

//  Encabezado
header {
    position: fixed;
    z-index: 2;
    width: 100%;
}
